#body{
    width:100%;
    height: 100vh;
    display: flex;
    min-width: 800px;
    min-height: 800px;
}
#menu{
    position: absolute;
    background: rgb(211, 0, 0);
    padding: 20px;
    min-width: 200px;
    min-height: 500px;;
    width: 200px;
    height: 100%;
    justify-content: center;
    z-index: 10;
}
#main{
    position: absolute;
    left:200px;
    width: 85%;
    height: 100%;
    display: flex;
}
@media all and (max-width: 980px) {
    #main{
        margin-left: 0px;
        left: 200px;
    }
}
#title{
    font-family: Impact, Charcoal, sans-serif;
    color:white;
    font-size: 40px;
    text-align: center;
}
form{
    display: inline-block;
}
.search{
    position: absolute;
    top:60px;
    left: 25px;
    width: 250px;
    height: 50px;
    background: rgb(238, 237, 237);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px, 20px;
    z-index: 2;
}

.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline:none;
    padding: 24px 20px;
    font-size: 15px;
    color: #797272;
}
.search button i{
    width: 25px;
}
.search button{
    position: absolute;
    border: 0;
    border-radius:50%;
    width: 45px;
    height: 45px;
    left: 205px;
    cursor: pointer;
}
.search button:hover{
    background:rgba(110, 110, 110, 0.2);
}
#list{
    padding:50%;
}
.center_form{
    position: absolute;
    top:100px;
    left:30%;
    width: 60%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media all and (max-width: 300px) {
    .center_form{
        margin-left: 0px;
        left: 150px;
    }
}
.btn_login{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    background-color: rgb(211, 0, 0);
    top:25px;
    border: 0px;
    border-radius: 100px;
    width: 200px;
    height: 47px;
    min-width: 100px;
    color: white;
    transform: translate(-50%, -50%);
    transition: .6s;
    overflow: hidden;
}
.btn_list{
    position: absolute;
    text-align: left;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    background-color: rgb(211, 0, 0);
    border: 0px;
    border-radius: 100px;
    width: 100%;
    height: 47px;
    min-width: 200px;
    color: white;
    transform: translate(-50%, -50%);
    transition: .6s;
    overflow: hidden;
}
.btn_list:hover, .btn_login:hover, .sign_up:hover, .btn_list_search:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
.btn_list::before, .btn_login::before, .sign_up::before, .btn_list_search::before{
    content:'';
    display:block;
    position:absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left:0;
    top:0;
    opacity: .5s;
    filter:blur(30px);
    transform: translateX(-130px) skew(-15deg);
}
.btn_list:after, .btn_login:after, .sign_up:after, .btn_list_search:after{
    content:'';
    display:block;
    position:absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left:30px;
    top:0;
    opacity: 0;
    filter:blur(30px);
    transform: translate(-100px) scakeX(-15deg);
}
.btn_list:hover:before, .btn_login:hover:before, .sign_up:hover:before, .btn_list_search:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
.btn_list:hover:after, .btn_login:hover:after, .sign_up:hover:after .btn_list_search:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}


.btn_list_search{
    position: absolute;
    text-align: left;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    background-color: rgb(211, 0, 0);
    border: 0px;
    border-radius: 100px;
    left: 20px;
    width: 50px;
    height: 47px;
    color: white;
    transform: translate(-50%, -50%);
    transition: .6s;
    overflow: hidden;
}




i{
    padding:10px;
}
.log_center{
    display:flex;
    position: absolute;
    top: 25px;
    width: 100px;
    left: 50%;
}
.profile{
    display:flex;
    position: absolute;
    top: 25px;
    width: 100px;
    left: 90%;
}
.prof_img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px, 20px;
}
.name{
    position: absolute;
    text-decoration: none;
    color: black;
    top:10px;

}
.name img{
    position: absolute;
    left:-60px;
    top:-10px
}
.name:hover{
    text-decoration:bold;
}
.log_in{
    text-decoration: none;
    color:white;
}
.page{
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
}
.home{
    position: absolute;
    left:18%;
    text-align: center; 
    background-color: rgb(201, 201, 201, 0.2);
    width: 50%;
    height: 70%;
    min-width: 425px;
    min-height: 500px;
    border-radius: 40px;
}
.image_post{
    z-index:1;
    margin: auto;
    width: 80%;
    min-width: 450px;
    max-height: 500px;
}
.img_post{
    z-index:1;
    width:450px;
    height: auto;
}
.action{
    text-align: center;  
}
.action button{
    border:none;
    background: transparent;
    font-size: 20px;
}           
.r:hover{
    color:#ff0000;
}
.g:hover{
    color:rgb(204, 180, 45);
}
.b:hover{
    color:rgb(0, 102, 255);
}
.search_box{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: none;
    top: 200px;
    left: 0px;
    border-radius: 30px;
    background-color:transparent;
    z-index: 14;
    min-width: 300px;
    display: none;
}
/*@media all and (max-width: 980px) {
    .search_box{
        margin-left: 0px;
        left: 165px;
    }
}*/
.search_box label{
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    color:white;
}
.next{
    height: 100px;
    top: 40%;
}
.search_cond{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 200px;
    border: none;
    top: 150px;
    left: 0px;
    border-radius: 30px;
    background-color:transparent;
    z-index: 14;
    min-width: 300px;
    display: none;
}
.search_cond input[type=text]{
    width: 260px;
    height: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #add;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.range{
    height: 80px;
    width: 300px;
    background: transparent;
    padding: 0 65px 0 45px;
  }
  .sliderValue{
    position: relative;
    width: 100%;
  }
  .sliderValue span{
    position: absolute;
    height: 22px;
    width: 22px;
    transform: translateX(-70%) scale(0);
    font-weight: 500;
    top: 0px;
    line-height: 20px;
    text-align: center;
    z-index: 2;
    font-size: 10px;
    color: #000000;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }
  .sliderValue span.show{
    transform: translateX(-70%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: white;
    border: 3px solid #fff;
    color: black;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  .field .value.left{
    left: -22px;
  }
  .field .value.right{
    right: -43px;
  }
  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(211, 0, 0);
    border: 5px solid white;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    cursor: pointer;
  }
  .range input::-moz-range-progress{
    background: white; 
  }



  :root{
    /*===== Colores =====*/
    --title-color: #F2F2F3;
    --body-color: rgb(211, 0, 0);
    --form-container-color:rgb(211, 0, 0);
    --first-color:white;
    --second-color:rgb(190,0,0);
  
    /*===== Fuente y tipografia =====*/
    --body-font: 'Roboto', sans-serif;
    --bigger-font-size: 3.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
  }



.container{
    border-radius: 50px;
    height: 500px;
    width: 80%;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    flex-direction: column;
    gap:.5rem;
}

.container h1{
    position: absolute;
    top:50px;
    left: 32%;
    font-family: Impact, Charcoal, sans-serif;
    /* line-height:4rem; */
    background: var((--first-color), var(--second-color));
    background-clip: text;
    color: var(--title-color);
}

.form__container{
    border-radius: 50px;
    width: 80%;
    min-width: 450px;
    background-color: var(--form-container-color);
    opacity: 1;
    border-radius: .5rem;
    padding: 30px;
    color: var(--title-color);
    z-index: 10;
}


.form__container form{
    border-radius: 50px;
    height: 167px;
    max-height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed var(--first-color);
}

.icon{
    font-size:4rem;
}

.helper__text{
    font-size: var(--normal-font-size);
    margin-top: .8rem;
}

.row{
    background-color: var(--second-color); 
    list-style: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
    margin-bottom: 10px;
}

.file__profgress-icon{
    font-size: calc(var(--bigger-font-size) - 1rem);
}

.details span{
    font-size: var(--small-font-size);
}

.progress-area .row .content{
    border-radius: 50px;
    width: 100%;
    margin-left: 15px;
    
}


.progress-area .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    
}

.progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
  }
  .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: linear-gradient(var(--first-color), var(--second-color));;
    border-radius: inherit;
  }

  .uploaded-area{
    max-height: 100px;
    overflow-y: scroll;
    
    /* overflow: hidden; */
  }

  .uploaded-area.onprogress{
    max-height: 150px;
  }

  .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-area .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .uploaded-area .row .details .size{
    color: #ffffff;
    /* font-size: 11px; */
  }


  .file__check-icon{
      font-size: calc(var(--normal-font-size) + .5rem);
  }
  .btn-upload{
    position: absolute;
    top:500px;
    left:30%;
  }
.down_post{
    position: absolute;
    top:100px;
    left:75px;
    width: 300px;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}