:root{
  /*===== Colores =====*/
  --title-color: #F2F2F3;
  --body-color: rgb(211, 0, 0);
  --form-container-color:rgb(211, 0, 0);
  --first-color:white;
  --second-color:rgb(190,0,0);

  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --bigger-font-size: 3.5rem;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;

  --light: white;
  --light-menu: rgb(211, 0, 0);
  --dark: #1C2833;
  --dark-menu: #17202A;
  --font-light: white;
  --font-dark: white;
}

#body{
    width:100%;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    background-color: var(--light);
}
.menu{
    position: fixed;
    background: var(--light-menu);
    padding: 20px;
    min-width: 200px;
    min-height: 500px;;
    width: 200px;
    height: 100%;
    justify-content: center;
    z-index: 500;
}

.menu_footer{
  position: absolute;
  left: 0px;
  bottom: 0; /* posiziona il div in basso */
  width: 100%; /* imposta la larghezza del div */
  height: 70px; /* imposta l'altezza del div */
  background: var(--light-menu);
  text-align: center;
  padding: 25px;
}
.btn_list_footer{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  background-color: var(--light-menu);
  border: 0px;
  border-radius: 100px;
  color: var(--font-light);
  transform: translate(-50%, -50%);
  transition: .6s;
  overflow: hidden;
}
ul {
  list-style: none;
}
ul li {
  list-style-type: none;
  padding-top: 50px;
}
#main{
    position: absolute;
    left:200px;
    width: 85%;
    height: 100%;
    display: flex;
}
@media all and (max-width: 980px) {
    #main{
        margin-left: 0px;
        left: 200px;
    }
}
#header{
  /*height: 150px;
  width: 100%;
  text-align: center;*/
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;;
  grid-gap: 10px;
}
.header_left{
  padding: 20px;
  grid-column: 1; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
}
.header_center{
  padding: 20px;
  grid-column: 2; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
  text-align: center;
}
.header_right{
  grid-column: 3; /* Posiziona l'oggetto nella seconda colonna */
  grid-row: 1; /* Posiziona l'oggetto nella prima riga */
  text-align: right;
  display: flex;
}
.chat img{
  margin-right:10px
}
.header_right a{
  text-decoration: none;
  color: black;
  margin-left:10px;
}
.prof_img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid grey;
  object-fit: cover;
}
.name:hover{
  text-decoration:bold;
}
.storie{
  padding: 20px;
}
.storie input{
  margin-right: 40px;
  border-radius: 100px;
  transition: transform 0.05s ease;
  object-fit: cover;
}   
.storie input:hover{
  transform: scale(1.1)
}

#titolo{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(20%, 0%);
}
#title{
    font-family: Impact, Charcoal, sans-serif;
    color:var(--font-light);
    font-size: 40px;
    text-align: center;
}
form{
    display: inline-block;
}
.search{
    position: absolute;
    top:60px;
    left: 15px;
    width: 260px;
    height: 50px;
    background: rgb(238, 237, 237);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px, 20px;
    z-index: 2;
}

.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline:none;
    padding: 24px 20px;
    font-size: 15px;
    color: #797272;
}
.search button i{
    width: 25px;
}
.search button{
    position: absolute;
    border: 0;
    border-radius:50%;
    width: 45px;
    height: 45px;
    left: 205px;
    cursor: pointer;
}
.search button:hover{
    background:rgba(110, 110, 110, 0.2);
}
.list{
    position: absolute;
    top: 120px;
    left: 0px;
    padding:50%;
}
.list_search{
    position: absolute;
    top: 50px;
    left: 0px;
    padding:50%;
}
.center_form{
    position: absolute;
    top:100px;
    left:30%;
    width: 60%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media all and (max-width: 300px) {
    .center_form{
        margin-left: 0px;
        left: 150px;
    }
}
.btn_login{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    background-color: var(--light-menu);
    top:25px;
    border: 0px;
    border-radius: 100px;
    width: 200px;
    height: 47px;
    min-width: 100px;
    color: var(--font-light);
    transform: translate(-50%, -50%);
    transition: .6s;
    overflow: hidden;
}
.btn_list{
    position: absolute;
    background-color: var(--light-menu);
    border: 0px;
    border-radius: 100px;
    width: 100%;
    height: 47px;
    min-width: 200px;
    color: var(--font-light);
    transform: translate(-50%, -50%);
    transition: .6s;
    overflow: hidden;
}
.btn_list p{
    position: absolute;
    left: 50px;
    top: 10px;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
}
.ico{
    display: flex;
    justify-content: center;
}
.btn_list:hover, .btn_login:hover, .sign_up:hover, .btn_list_search:hover, .div_upload_post_but:hover{
    background-color: var(--light-menu);
    cursor: pointer;
}
.btn_list::before, .btn_login::before, .sign_up::before, .btn_list_search::before, .div_upload_post_but::before{
    content:'';
    display:block;
    position:absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left:0;
    top:0;
    opacity: .5s;
    filter:blur(30px);
    transform: translateX(-130px) skew(-15deg);
}
.btn_list:after, .btn_login:after, .sign_up:after, .btn_list_search:after, .div_upload_post_but:after{
    content:'';
    display:block;
    position:absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left:30px;
    top:0;
    opacity: 0;
    filter:blur(30px);
    transform: translate(-100px) scakeX(-15deg);
}
.btn_list:hover:before, .btn_login:hover:before, .sign_up:hover:before, .btn_list_search:hover:before, .div_upload_post_but:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
.btn_list:hover:after, .btn_login:hover:after, .sign_up:hover:after .btn_list_search:hover:after, .div_upload_post_but:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}


.btn_list_search{
    position: absolute;
    text-align: left;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    background-color: var(--light-menu);
    border: 0px;
    border-radius: 100px;
    left: 20px;
    width: 50px;
    height: 47px;
    color: white;
    transform: translate(-50%, -50%);
    transition: .6s;
    overflow: hidden;
}
i{
    padding:10px;
}
.log_center{
    display:flex;
    position: absolute;
    top: 25px;
    width: 100px;
    left: 50%;
}
.log_in{
    text-decoration: none;
    color:white;
}
.page{
    position: absolute;
    width: 100%;
    text-align: center;
}
.home{
    text-align: center; 
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.us_post{
    text-align: center; 
    color: var(--font-light);
    display: flex;
}
.image_post{
    z-index:1;
    margin: auto;
    width: 80%;
    min-width: 500px;
    max-height: 600px;
    background-size: cover;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.image_post a{
    z-index:5;
    width:auto;
    display: flex;
    text-decoration: none;
    color: black;
    line-height: 35px;
}
.img_post{
    z-index:15;
    width: 500px;
    height: 450px;
    max-height: 430px;
    object-fit: cover;
    border: 1px solid grey;
}
.action{
    text-align: center;  
    z-index:50;
}
.action button{
    border:none;
    background: transparent;
    font-size: 20px;
    transition: transform 0.05s ease;
}   
.action button:hover{
  transform: scale(1.2)
}
.r:hover{
    color:#ff0000;
}
.g:hover{
    color:rgb(204, 180, 45);
}
.b:hover{
    color:rgb(0, 102, 255);
}
.post_username{
  z-index: 100;
}
.search_box{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: none;
    top: 200px;
    left: -900px;
    border-radius: 30px;
    background-color:transparent;
    z-index: 14;
    min-width: 300px;
    display: none;
}
/*@media all and (max-width: 980px) {
    .search_box{
        margin-left: 0px;
        left: 165px;
    }
}*/
.search_box label{
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    color:white;
}
/*.next{
    height: 100px;
    top: 40%;
}*/
.search_cond{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 200px;
    border: none;
    top: 150px;
    left: 0px;
    border-radius: 30px;
    background-color:transparent;
    z-index: 14;
    min-width: 300px;
    display: none;
}
.search_cond input[type=text]{
    width: 260px;
    height: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #add;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.range{
    height: 80px;
    width: 300px;
    background: transparent;
    padding: 0 65px 0 45px;
  }
  .sliderValue{
    position: relative;
    width: 100%;
  }
  .sliderValue span{
    position: absolute;
    height: 22px;
    width: 22px;
    transform: translateX(-70%) scale(0);
    font-weight: 500;
    top: 0px;
    line-height: 20px;
    text-align: center;
    z-index: 2;
    font-size: 10px;
    color: #000000;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }
  .sliderValue span.show{
    transform: translateX(-70%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: white;
    border: 3px solid #fff;
    color: black;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  .field .value.left{
    left: -22px;
  }
  .field .value.right{
    right: -43px;
  }
  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--light-menu);
    border: 5px solid white;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    cursor: pointer;
  }
  .range input::-moz-range-progress{
    background: white; 
  }

.container{
    position: absolute;
    border-radius: 50px;
    height: 500px;
    width: 450px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    flex-direction: column;
    gap:.5rem;
}


.container h1{
    /*position: absolute;
    top:50px;
    left: 45%;*/
    display: flex;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    /* line-height:4rem; */
    background: var((--first-color), var(--second-color));
    background-clip: text;
    color: var(--title-color);
}

.form__container{
    border-radius: 50px;
    width: 450px;
    background-color: var(--form-container-color);
    opacity: 1;
    border-radius: .5rem;
    padding: 30px;
    color: var(--title-color);
    z-index: 10;
}


.form__container form{
    border-radius: 50px;
    height: 167px;
    max-height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed var(--first-color);
}

.icon{
    font-size:4rem;
}

.helper__text{
    font-size: var(--normal-font-size);
    margin-top: .8rem;
}

.row{
    background-color: var(--second-color); 
    list-style: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
    margin-bottom: 10px;
}

.file__profgress-icon{
    font-size: calc(var(--bigger-font-size) - 1rem);
}

.details span{
    font-size: var(--small-font-size);
}

.progress-area .row .content{
    border-radius: 50px;
    width: 100%;
    margin-left: 15px;
    
}


.progress-area .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    
}

.progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
  }
  .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: linear-gradient(var(--first-color), var(--second-color));;
    border-radius: inherit;
  }

  .uploaded-area{
    max-height: 100px;
    overflow-y: scroll;
    
    /* overflow: hidden; */
  }

  .uploaded-area.onprogress{
    max-height: 150px;
  }

  .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-area .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .uploaded-area .row .details .size{
    color: #ffffff;
    /* font-size: 11px; */
  }


  .file__check-icon{
      font-size: calc(var(--normal-font-size) + .5rem);
  }
  .btn-upload{
    position: absolute;
    top:500px;
    left:30%;
  }
.down_post{
    position: absolute;
    top:100px;
    left:75px;
    width: 300px;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}
.div_upload_post{
    position: absolute;
    top:450px;
    left: 40%;
}
.div_upload_post_but{
    font-size: 15px;
    font-family: 'Unbounded', cursive;
    background-color: var(--light-menu);
    border: 0px;
    border-radius: 100px;
    width: 100px;
    height: 47px;
    min-width: 100px;
    color: white;
    transform: translate(-50%, -50%);
    transition: .6s;
    overflow: hidden;
}
.descr{
    position: absolute;
    top: -350px;
    width: 300px;  
    height: 300px;
    border: 0px;
    padding:20px;
    color: white;
    font-size: 15px;
    font-family: 'Unbounded', cursive;
    resize: none;
    overflow: hidden;
    display: none;
}
.descr input[type=text], textarea{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #add;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.heart {
  position: absolute;
  color: red;
  font-size: 40px;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.heart.active {
  position: absolute;
  animation: animate 0.8s linear forwards;
  z-index: 9999;
}
@keyframes animate {
  30% {
    font-size: 80px;
    opacity: 1;
  }
  50% {
    opacity: 1;
    font-size: 60px;
  }
  70% {
    font-size: 70px;
  }
  80% {
    font-size: 60px;
    opacity: 1;
  }
  90% {
    font-size: 60px;
    opacity: 1;
  }
}


.scrollbar {
    position: absolute;
    left:0px;
    text-align: center; 
    margin-left: 30px;
    float: left;
    overflow-y: scroll;
    margin-bottom: 25px;
    z-index: 10;
    width: 99%;
    height: 99%;
  }
  .force-overflow {
    min-height: 450px;
  }
  .scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  .scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .scrollbar-danger::-webkit-scrollbar-thumb, .scrollbar-danger-night::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
  }
  
  .scrollbar-danger {
    scrollbar-color: #ff3547 #F5F5F5;
  }
  .scrollbar-danger-night{
    scrollbar-color: #ff3547 #17202A;
  }
  .scrollbar-danger-night::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #17202A;
    border-radius: 10px;
  }
  
  .scrollbar-danger-night::-webkit-scrollbar {
    width: 12px;
    background-color: #17202A;
  }
  .light-night{
    position: absolute;
    top:5%;
    left: 50px;
    font-size: 50px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: var(--light-menu);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-window {
  height: 220px;
  overflow-y: scroll;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  z-index: 9999;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.chat{
  width: 100%;
  height: 75px;
  background-color: #55555510;
  text-align: left;
  display: flex;
}

.chat button{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  margin-left: 10px;
  z-index: 1000;
}
.chat img{
  margin-right:10px
}
.chat span{
  margin-left:10px
}
.div_info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
  grid-gap: 10px;
}
.info_left{
  padding: 20px;
  grid-column: 1; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
}
.info_left span{
  text-decoration: none;
  color: black;
  margin-left:10px;
}
.info_center{
  padding: 20px;
  grid-column: 2; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
  text-align: center;
}
.info_right{
  padding: 20px;
  grid-column: 3; /* Posiziona l'oggetto nella seconda colonna */
  grid-row: 1; /* Posiziona l'oggetto nella prima riga */
  text-align: center;
}
.div_descr{
  display: flex;
  width: 100%;
  height: auto;
}
.div_descr a{
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin-right: 5px;
  margin-left: 50px;
}
.div_descr span{
  display: inline-block;
}
.info_profile{
  width:100%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-gap: 10px;
}
.info_1{
  grid-column: 1; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
}
.info_2{
  padding: 10px;
  grid-column: 2; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
  text-align: center;
}
.info_2 img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
}
.info_3{
  padding-top: 50px;
  grid-column: 3; /* Posiziona l'oggetto nella seconda colonna */
  grid-row: 1; /* Posiziona l'oggetto nella prima riga */
  text-align: left;
}
.info_3 p, span{
  display: inline-block;
  padding-left: 30px;
}
.info_3 button{
  background-color: transparent;
  border : none;
  transition: transform 0.05s ease;
}
.info_3 button:hover{
  transform: scale(1.1)
}
.info_4{
  grid-column: 1; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
}
.profile_page{
  position: absolute;
  top: 200px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.profile_view{
  width: 100%;
  height: 50px;
  text-align: center;
}
.profile_view button{
  background-color: transparent;
  border : none;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.post_profile{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.post_profile td, tr{
  border: 0px;
  text-align: center;
  padding: 8px;
}
.post_profile img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.post_profile button{
  background-color: transparent;
  border : none;
}
.view_header{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;;
  grid-gap: 10px; 
}
.view_left{
  grid-column: 1; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
  text-align: center;
}
.view_center{
  grid-column: 2; /* Posiziona l'oggetto nella prima colonna */
  grid-row: 1;
  text-align: center;
}
.view_right{
  grid-column: 3; /* Posiziona l'oggetto nella seconda colonna */
  grid-row: 1; /* Posiziona l'oggetto nella prima riga */
  text-align: center;
}
#view_descr p{
  display: inline-block;
  padding-right: 5px;
}